psycopg2-binary
asgiref
astroid
certifi
charset-normalizer
coreapi
coreschema
dill
Django
django-cors-headers
django-extensions
django-filter
django-rest-auth
django-rest-swagger
django-widget-tweaks
djangorestframework
et_xmlfile
gunicorn
idna
isort
itypes
Jinja2
MarkupSafe
mccabe
numpy
openapi-codec
openpyxl
packaging
pandas
pillow
platformdirs
pylint
python-dateutil
python-decouple
pytz
requests
uWSGI
simplejson
six
sqlparse
tomli
tomlkit
typing_extensions
tzdata
uritemplate
urllib3
django-widget-tweaks
