asgiref==3.8.1
astroid==3.0.1
certifi==2025.1.31
charset-normalizer==3.4.1
coreapi==2.3.3
coreschema==0.0.4
dill==0.3.9
Django
django-cors-headers
django-extensions
django-filter
django-rest-auth=
django-rest-swagger
django-widget-tweaks
djangorestframework
et_xmlfile
idna
isort
itypes
Jinja2
MarkupSafe
mccabe
numpy
openapi-codec
openpyxl
pandas
pillow
platformdirs
psycopg2-binary
pylint
python-dateutil
python-decouple
pytz
requests
simplejson
six
sqlparse
tomlkit
tzdata
uritemplate
urllib3
gunicorn
packaging

