arabic-reshaper
asgiref
asn1crypto
astroid
attrs
autobahn
Automat
Brotli
certifi
cffi
channels
channels_redis
charset-normalizer
constantly
coreapi
coreschema
cryptography
cssselect2
daphne
dill
Django
django-cors-headers
django-extensions
django-filter
django-rest-auth
django-rest-swagger
django-widget-tweaks
djangorestframework
django-redis
et_xmlfile
fonttools
html5lib
hyperlink
idna
incremental
isort
itypes
Jinja2
lxml
MarkupSafe
mccabe
msgpack
numpy
openapi-codec
openpyxl
oscrypto
pandas
pillow
platformdirs
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydyf
pyHanko
pyhanko-certvalidator
pylint
pyOpenSSL
pypdf
pyphen
python-bidi
python-dateutil
python-decouple
pytz
PyYAML
redis
reportlab
requests
service-identity
setuptools
simplejson
six
sqlparse
svglib
tinycss2
tinyhtml5
tomli
tomlkit
twisted
txaio
typing_extensions
tzdata
tzlocal
uritemplate
uritools
urllib3
uWSGI
weasyprint
webencodings
whitenoise
xhtml2pdf
zope.interface
zopfli
gunicorn