<!-- templates/accounts/lista_usuarios.html -->
{% extends 'base.html' %}
{% block title %}Usuarios{% endblock %}

{% block content %}
{% include 'includes/header.html' %}
<div class="container mt-4">
    <h3>Lista de Usuarios</h3>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.nombre }} {{ user.apellido }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'accounts_app:cambiar_contrasena_usuario' user.id %}" class="btn btn-sm btn-outline-primary">
                        Cambiar Contraseña
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
