<div class="header d-flex">
    <div class="d-flex flex-column">
        <h1>QC Seguimiento Revisiones</h1>
    <div>
        <p><strong>Usuario:</strong> {{ request.user.nombre }} {{ request.user.apellido }} <strong>Cargo:</strong> {{ request.user.cargo }} <strong>Equipo:</strong> {{ request.user.equipo }}</p>
    </div>
    </div>
    <div class="group-btn">
        <a href="{% url 'home' %}" class="home-btn">Home</a>
    <form method="post" action="{% url 'accounts_app:logout' %}">
        {% csrf_token %}
        
        <button type="submit" class="logout-btn">Cerrar sesión</button>
    </form>
    </div>
    
</div>